html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.app__videos {
  position: relative;
  height: 100%;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;

}

/* Hide scrollbar for chrome, safari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrllbar for IE, Edge and Firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}